<div>
    <h3 class="center header">Liste des sports olympiques</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Sport</th>
            </tr>
        </thead>
        <tbody>
            {{#each sports}}
            <tr>
                <td>
                    <p>{{name}}({{count}})</p>
                </td>
                <td>
                    <button>Modifier</button>
                    <button>Supprimer</button>
                </td>
            </tr>
            {{/each}}
            {{#if authorized}}
            <tr>
                <td>
                    <input placeholder="Ajouter un sport" />
                </td>
                <td>
                    <button>Créer</button>
                </td>
            </tr>
            {{/if}}
        </tbody>
    </table>
</div>